@model WebTestCore.Models.Security.SecurityCreateVm

@{
    ViewBag.Title = "Create";

}
@using (Html.BeginForm("Create", "Security", FormMethod.Post))
{
    <div class="container bg-white box-shadow mb-3 modal-open">
        <fieldset class="gap-2 col-6 mx-auto">
            <h4 class="card-title">Create login and password</h4>
            <div class="mb-3 editor-field">
                <label>Login</label>
                <input id="login" class="form-control" data-val="true" data-val-required="Не указан логин" type="text" asp-for="@Model.Login" autofocus />
                <span class="field-validation-valid" asp-validation-for="Login" data-valmsg-for="Login" data-valmsg-replace="true"></span>
            </div>
            <div class="mb-3 editor-field">
                <label>Password</label>
                <input class="form-control" data-val="true" data-val-required="Не указан пароль" type="password" asp-for="@Model.Password">
                <span class="field-validation-valid" asp-validation-for="Password" data-valmsg-replace="true"></span>
            </div>
            <button id="sbm" type="button" class="btn btn-primary mb-3" name="sbm"
                    asp-controller="Security" asp-action="Create">
                Save
            </button>
            <button type="button" class="btn btn-primary mb-3"
                    asp-controller="Home" asp-action="Index">
                Back
            </button>
        <div class="modal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Дублирующийся логин</h5>
                        <button id="close-button" type="button" class="btn-close" data-dismiss="modal" aria-label="true">X</button>
                    </div>
                    <div class="modal-body">
                        <p>Введенный вами логин <span class="login"></span> уже есть в базе данных с паролем <span class="password"></span>.<br>Введите другой логин.</p>
                    </div>
                </div>
            </div>
        </div>
        </fieldset>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            $(document).on('click', '#sbm', function (event) {

                $.ajax({
                    method: "POST",
                    url: "/Security/Ajax",
                    data: { "login": document.getElementById('login').value },
                    dataType: "json",

                    success: function (data) {
                        let serialize = $.parseJSON(data);

                        if (serialize == null) {
                            $('form').submit();
                            return;
                        }

                        $(".login").append(serialize["Login"]);
                        $(".password").append(serialize["Password"]);
                        const elemModal = document.querySelector('.modal');
                        const modal = new bootstrap.Modal(elemModal, {
                            backdrop: true,
                            keyboard: true,
                            focus: true,
                        });
                        modal.show();
                    },

                    error: function () {
                        alert("Failed.");
                    },
                })
            });
        });
    </script>
}
@{Html.EndForm();}