@model WebTestCore.Models.Security.SecurityUpdateVm

@{
    ViewBag.Title = "Update";

}
@using (Html.BeginForm("Update", "Security", FormMethod.Post))
{
    <div class="container bg-white box-shadow mb-3">
        <fieldset class="gap-2 col-6 mx-auto">
            <h4 class="card-title"> Update login and password</h4>
            <div class="mb-3 editor-field">
                <label>Login</label>
                <input class="form-control" data-val="true" data-val-required="Не указан логин" type="text" value="@Model.Login" asp-for="@Model.Login" required />
                <span class="field-validation-valid" asp-validation-for="Login" data-valmsg-for="Login" data-valmsg-replace="true"></span>
            </div>
            <div class="mb-3 editor-field">
                <label>Password</label>
                <input class="form-control" data-val="true" data-val-required="Не указан пароль" type="text" value="@Model.Password" asp-for="@Model.Password" required>
                <span class="field-validation-valid" asp-validation-for="Password" data-valmsg-replace="true"></span>
            </div>
            <button type="submit" class="btn btn-light mb-3" name="Submit"
                    asp-action="Update" asp-controller="Security" asp-route-area="Security">
                Save
            </button>
            <button type="submit" class="btn btn-light mb-3" name="Submit"
                    asp-action="List" asp-controller="Security">
                Back
            </button>
        </fieldset>
    </div>
}
@{Html.EndForm();}
