.field-validation-error {
    color: red;
}

.field-validation-valid {
    display: none;
    color: red;
}

input.input-validation-error {
    border: 1px solid #b94a48;
    color: red;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
    color: red;
}

.validation-summary-errors {
    color: red;
}

.validation-summary-valid {
    display: none;
    color: red;
}
